<div class="{{comment.comment_type}}" id="blog-comment-{{comment.ID}}">
	<h5>{{comment.author.name}}
		says</h5>

	<div>{{comment.comment_content|wpautop}}</div>

	<section>
		{% include "comment-form.twig" %}

		{% if post.comments %}
			<h4>
				Replies
			</h4>
			<div class="space-y-4">
				{% for cmt in comment.children %}
					{% include "comment.twig" with {comment:cmt} %}
				{% endfor %}
			</div>
		{% endif %}
	</section>
</div>
